<div class="col-xs-12">
  <img
    src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png"
    alt="Logo Chuck Norris"
  />
  <div class="row">
    <div class="col-md-12 offset-md-4">
      <h3>Select category:</h3>
      <span
        class="categories"
        *ngFor="let category of jokeCategories"
        (click)="searchByCategory(category)"
      >
        {{ category }}
      </span>
      <button type="button" class="btn btn-primary" (click)="jokeOnClick()">
        Generate Joke
      </button>
    </div>
  </div>

  <div class="row">
    <div class="jokes" *ngFor="let joke of jokes">
      <h3>The joke:</h3>
      <h4>{{ joke.categories }}</h4>
      <p>{{ joke.value }}</p>
    </div>
  </div>
</div>
